.song-list-container {
  display: flex;
  align-items: center;
}

.svg-icon {
  width: 180px;
  height: 180px;
  margin-right: 20px;
  fill: #333; /* change this to the color of your SVG */
}

.song-list {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song-list h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.song-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #555;
}

.song-list li:last-child {
  margin-bottom: 0;
}
